examples/configuration override.json
[{"id":"26c8a1192984e41f","type":"ui-gauge-linear","z":"765bf42177e58b83","name":"","group":"f6171ec8cac794be","order":1,"width":0,"height":0,"min":0,"max":10,"ticks":[],"colors":["rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(0, 227, 0)","rgb(255, 169, 22)","rgb(255, 169, 22)","rgb(255, 169, 22)","rgb(255, 169, 22)","rgb(255, 76, 22)","rgb(255, 76, 22)"],"zeroCrossColors":["#ff4c16","#00e300"],"mode":"default","minLabel":"","maxLabel":"","label":"Max Ten","icon":"","unit":"°C","dim":0.2,"myclass":"","x":650,"y":180,"wires":[]},{"id":"3610eef1ef36d52b","type":"change","z":"765bf42177e58b83","name":"Change max, label and ticks","rules":[{"t":"set","p":"ui_update.max","pt":"msg","to":"{\"value\":20}","tot":"json"},{"t":"set","p":"ui_update.label","pt":"msg","to":"Max Twenty","tot":"str"},{"t":"set","p":"ui_update.ticks","pt":"msg","to":"[{\"value\":10},{\"value\":15}]","tot":"json"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[["26c8a1192984e41f"]]},{"id":"7810eeb2c798a42d","type":"inject","z":"765bf42177e58b83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":180,"wires":[["3610eef1ef36d52b"]]},{"id":"ebbbac296b5c35a6","type":"inject","z":"765bf42177e58b83","name":"Send payload 5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":460,"y":140,"wires":[["26c8a1192984e41f"]]},{"id":"0f25df2b661ace5e","type":"change","z":"765bf42177e58b83","name":"Change back to original","rules":[{"t":"set","p":"ui_update.max","pt":"msg","to":"{\"value\":10}","tot":"json"},{"t":"set","p":"ui_update.label","pt":"msg","to":"Max Ten","tot":"str"},{"t":"set","p":"ui_update.ticks","pt":"msg","to":"[]","tot":"json"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["26c8a1192984e41f"]]},{"id":"06187cde5f011893","type":"inject","z":"765bf42177e58b83","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":220,"wires":[["0f25df2b661ace5e"]]},{"id":"f6171ec8cac794be","type":"ui-group","name":"Group Name","page":"0e91b2f9852bbdaa","width":"6","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"0e91b2f9852bbdaa","type":"ui-page","name":"Page Name","ui":"5c0986aff71f902a","path":"/page1","icon":"home","layout":"grid","theme":"0621b6f7a05375c3","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"5c0986aff71f902a","type":"ui-base","name":"Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default"},{"id":"0621b6f7a05375c3","type":"ui-theme","name":"D2","colors":{"surface":"#171717","primary":"#0094ce","bgPage":"#4d4d4d","groupBg":"#363636","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]